:root {
    --pastel-yellow: #fffde6;
    --pastel-purple-light: #A675FF;
    --pastel-purple-dark: #5B32A0;
    --border-seven: 7px;
}

#contenedor {
    display: flex;
}

/* barra superior */
nav {
    background-color: var(--pastel-purple-light);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: var(--pastel-yellow);
    border-bottom: 1.5px solid var(--pastel-purple-dark);
}

nav a, nav button {
    background-color: var(--pastel-purple-dark);
    color: var(--pastel-yellow);
    border-radius: var(--border-seven);
    cursor: pointer;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid var(--pastel-purple-dark);
    transition: background-color 0.3s ease;
    display: inline-block;
    text-decoration: none;
}

nav button:hover {
    background-color: #925fff;
}

/* sidebar */
aside {
    background-color: var(--pastel-purple-light);
    min-height: 100vh;
    width: 130px;
    padding: 30px 15px;
    color: var(--pastel-yellow);
}

aside a {
    display: block;
    margin-bottom: 30px;
    text-align: left;
    color: var(--pastel-yellow);
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
}

aside a:hover {
    text-decoration: underline;
}
