:root {
    --pastel-yellow: #fffde6;
    --pastel-purple-light: #A675FF;
    --pastel-purple-dark: #5B32A0;
    --border-seven: 7px;
}

body {
    background-color: var(--pastel-yellow);
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

input.form-control,
select {
    background-color: white;
    border-radius: var(--border-seven);
    border: 1px solid #ccc;
    height: 48px;
    font-size: 16px;
    padding: 10px 15px;
}

input[disabled] {
    background-color: #e0e0e0;
    color: #888;
    cursor: not-allowed;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 400px;
}

th, td {
    border: 1px solid #888;
    text-align: center;
    padding: 8px;
}

.tarjeta {
    background-color:var(--pastel-yellow);
    border: 2px solid var(--pastel-purple-dark);
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    max-width: 800px;
    width: 100%;
	margin-left: 15px;
}

.fila-datos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.fila-datos p {
    width: 48%;
    margin: 0.5rem 0;
}

.etiqueta {
    font-weight: bold;
    color: #000;
}

.link-direccion {
    color:var(--pastel-purple-light);
    font-weight: 500;
    text-decoration: none;
}

.link-direccion:hover {
    text-decoration: underline;
}

	
	