
/* --- LOGIN --- */

:root {
    --pastel-yellow: #fffde6;
    --pastel-purple-light: #A675FF;
    --pastel-purple-dark: #5B32A0;
	--border-seven: 7px;
}

body {
    background-color: var(--pastel-yellow);
    margin: 0;
    font-family: sans-serif;
}
.text-c{
	text-align:center ;
	color: var(--pastel-yellow)
}

.center-screen {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    background-color: var(--pastel-purple-light);
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    color: white;
    padding: 40px 30px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login-card input.form-control {
    background-color: white;
    border-radius: var(--border-seven);
    border: 1px solid #ccc;
    height: 48px;
    font-size: 16px;
    padding: 10px 15px;
}

.btn-primary {
	margin-top: 38px;
    background-color: var(--pastel-yellow);
    border: none;
    color: var(--pastel-purple-dark);
    font-weight: bold;
    padding: 10px;
    border-radius: var(--border-seven);
    width: 100%;
}

.btn-primary:hover {
    background-color: #fffcd9;
    color: #4a267c;
}

.error-message {
    color: #dc3545;
    text-align: center;
}

.logout-message {
    color: #198754;
    text-align: center;
}
/* -------- */	 
/* barra lateral */
aside {
  background-color: var(--pastel-purple-light);
  min-height: 100vh;
  width: 149px;
 padding: 30px 15px;
  color:var(--pastel-yellow);
}
aside a {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  color:var(--pastel-yellow);
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}


/* barra superior */
nav {
  background-color: var(--pastel-purple-light);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color:var(--pastel-yellow);
  border-color: var( --pastel-purple-dark);
}

nav a, nav button {
	background-color: #fffcd9;
	color: #4a267c;
  font-weight: bold;
}

section a {
  color:var(--pastel-yellow);
  font-weight: bold;
  margin-bottom: 5px;
}

#contenedor {
  display: flex;
}

/*----agregar direccion----- */
main {
    flex: 1;
    padding: 2rem;
}
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem 1rem;
}

.formulario-direccion {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: var(--border-seven); /* menos redondeado que el típico 16px o 20px */
    background-color:var(--pastel-yellow);
	border-color:grey ;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

/*---------- */
	 table {
	      border-collapse: collapse;
	      width: 100%;
	      max-width: 400px;
   		}
    th, td {
      border: 1px solid #888;
      text-align: center;
      padding: 8px;
    }
    select {
      margin: 10px;
    }

 
    section{
      padding-left: 50px;
      padding-right: 100px;

    }

    section a{
      display: block;
      padding-top: 25px;
    }

    nav {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 2px solid rgb(0, 0, 76);
    }

    .tarjeta{
      border: solid, cornflowerblue;
      border-radius: 15px;
      margin: 20px;
      padding: 30px;
    }
    
    #sector{
      display: flex;
    }

    #fechas{
      padding-left: 30px;
    }

    #inicio{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 10px;

    }
    #inicio img{
      width: 115px;
      
      
    }
    a{
      text-decoration: none;
    }
	
	
	.center-screen {
	  min-height: 100vh;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}
	
	
	
	
	
