
:root {
    --pastel-yellow: #fffde6;
    --pastel-purple-light: #A675FF;
    --pastel-purple-dark: #5B32A0;
    --border-seven: 7px;
}

body {
    background-color: var(--pastel-yellow);
    margin: 0;
    font-family: sans-serif;
}

.body-login{
	background-color: var(--pastel-purple-light);
	margin: 0;
	font-family: sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
}


/* login y tarjeta de index*/
.login-card, .welcome-card {
    background-color: var(--pastel-yellow);
    border-radius: 20px;
	border: 2px solid var(--pastel-purple-dark);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    color:var(--pastel-purple-dark) ;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login-card input.form-control {
    background-color: white;
    border-radius: var(--border-seven);
    border: 1px solid #ccc;
    height: auto;
    font-size: 16px;
    padding: 10px 15px;
}

.btn-login {
    background-color: var(--pastel-purple-dark);
    border: 2px solid var(--pastel-purple-dark);
    color: var(--pastel-yellow);
    font-weight: bold;
    padding: 10px;
    border-radius: var(--border-seven);
    width: 100%;
    margin-top: 20px;
	transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color:var(--pastel-purple-light);
   	cursor: pointer;
}

.error-message {
    color: #dc3545;
    text-align: center;
}

.logout-message {
    color: #198754;
    text-align: center;
}

.subtitulo {
    font-size: 2rem;
    font-weight: bold;
	padding-bottom: 0.3rem;
    color: #444;
	margin: 0;
}