<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error de Registro</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/errores.css}">
</head>
<body class="body-login">
    <div class="welcome-card">
        <h2>¡Error al registrar!</h2>
        <div class="error-message" th:text="${error}"></div>
        <button onclick="location.href='/cliente/registro-cliente'" class="btn-login">Volver al registro</button>
    </div>
</body>
</html>
