<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Turno inválido</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
	<link rel="stylesheet" th:href="@{/css/error.css}">
	
</head>
<body class="body-login">
    <div class="tarjeta tarjeta-error">
        <h2>¡Algo malió sal!</h2>
        <p>El Turno no puede tener una <strong>Fecha</strong> anteriar a la <strong>Fecha ACTUAL</strong>.</p>
        <p>Por favor, selecciona otra fecha volvé a intentarlo.</p>
        <a th:href="@{/cliente/solicitar-turno}" class="btn-nuevo"> Volver a Solicitar Turno</a>
    </div>
</body>
</html>