<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agregar direccion</title>
</head>
<body>
    <div th:replace="~{layouts/layout-cliente :: layout}">
        <div th:fragment="content">          
			<main>
			    <div class="form-header">
					<h1 class="titulo-seccion">Agrega tu direccion</h1>
				</div>	
			        <form th:action="@{/cliente/agregarDireccion}" th:object="${direccion}" method="post" class="formulario-direccion">

			            <input type="text" class="fila-datos" th:field="*{localidad}" placeholder="Localidad" required>
			            <input type="text" class="fila-datos" th:field="*{calle}" placeholder="Calle" required>
			            <input type="number" class="fila-datos" th:field="*{altura}" placeholder="Altura" required>
			            <input type="text" class="fila-datos" th:field="*{depto}" placeholder="Departamento (opcional)">
						
						<div class="boton-final">
			            	<button type="submit" class="btn-nuevo">Guardar</button>
						</div>	
			        </form>
			   
			</main>
        </div>
    </div>
</body>
</html>


