<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" href="../css/styles.css">


</head>
<body id="cuerpo">
    <nav>
        <a href="blancoAdmin.html">Hola</a>
        <button onclick="window.location.href='login.html'">Cerrar sesión</button>
    </nav>
    <div id="contenedor">
    <section>
        <a href="servicioAdmin.html">Servicios</a>
        <a href="sucursalAdmin.html">Sucursales</a>
        <a href="empleadoAdmin.html">Empleados</a>
        <a href="clienteAdmin.html">Clientes</a>
        <a href="turnoAdmin.html">Turnos</a>
    </section>

    <div>
        <h1>
            Clientes
        </h1>    
        <div class="tarjeta">
            <p>Cliente 1</p>
        </div>
        <div class="tarjeta">
            <p>Cliente 2</p>
        </div>
        <div class="tarjeta">
            <p>Cliente 3</p>
        </div>
        
    </div>