<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mis datos</title>
    <link rel="stylesheet" href="../css/styles.css">


</head>
<body id="cuerpo">
    <nav>
        <a href="blanco.html">Hola</a>
        <button onclick="window.location.href='login.html'">Cerrar sesión</button>
    </nav>
    <div id="contenedor">
    <section>
        <a href="clienteDatos">Mis Datos</a>
        <a href="clienteTurnos">Mis Turnos</a>
        <a href="clienteNturno.html">Nuevo turno</a>
    </section>

    <div>
        <h1>Datos</h1>
		<div class="tarjeta">
		    <p><strong>ID:</strong> <span th:text="${cliente.idPersona}"></span></p>
		    <p><strong>Nombre:</strong> <span th:text="${cliente.nombre}"></span></p>
		    <p><strong>Apellido:</strong> <span th:text="${cliente.apellido}"></span></p>
		    <p><strong>Mail:</strong> <span th:text="${cliente.email}"></span></p>
		    <p><strong>Teléfono:</strong> <span th:text="${cliente.telefono}"></span></p>
		    <p><strong>Localidad:</strong> <span th:text="${cliente.direccion.localidad}"></span></p>
		</div>
    </div>