<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mis Turnos</title>
    <link rel="stylesheet" href="../css/styles.css">


</head>
<body id="cuerpo">
    <nav>
        <a href="blanco.html">Hola</a>
        <button onclick="window.location.href='login.html'">Cerrar sesión</button>
    </nav>
    <div id="contenedor">
    <section>
        <a href="clienteDatos">Mis Datos</a>
        <a href="clienteTurnos">Mis Turnos</a>
        <a href="clienteNturno.html">Nuevo turno</a>
    </section>

    <div>
        <h1>
            Mis Turnos
        </h1>   
		<div th:if="${#lists.isEmpty(turnosCliente)}">
		    <p>No tenés turnos cargados.</p>
		</div> 
		<div th:if="${!#lists.isEmpty(turnosCliente)}">
		  
			<div th:each="turnosCliente : ${turnos}" class="tarjeta">
		            <p><strong>ID:</strong> <span th:text="${turno.idTurno}"></span></p>
		            <p><strong>Cliente:</strong> <span th:text="${turno.cliente.nombre}"></span></p>
		            <p><strong>Servicio:</strong> <span th:text="${turno.servicio.nombre}"></span></p>
		            <p><strong>Estado:</strong> <span th:text="${turno.estado.descripcion}"></span></p>
		            <p><strong>Fecha:</strong> <span th:text="${turno.fechaYHora.fecha}"></span></p>
		            <p><strong>Hora:</strong> <span th:text="${turno.fechaYHora.hora}"></span></p>
		    </div>
        </div>
    </div>