<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Empleados - TurnAT</title>
	    <link rel="stylesheet" href="/css/styles.css">
	</head>
	<body id="cuerpo">
	    <nav>
	        <a class="logo">TurnAt</a>
	        <form th:action="@{/logout}" method="post">
	            <button type="submit">Cerrar sesión</button>
	        </form>
	    </nav>
	
	    <div id="contenedor">
	        <aside>
	            <a href="/admin/servicioAdmin">Servicios</a>
	            <a href="/admin/sucursalAdmin">Sucursales</a>
	            <a href="/admin/empleado/listado" class="activo">Empleados</a>
	            <a href="/admin/clienteAdmin">Clientes</a>
	            <a href="/admin/turnoAdmin">Turnos</a>
	        </aside>

			<main>
			    <div class="form-wrapper">
			        <form th:action="@{|/admin/empleado/editar/${empleado.idPersona}|}" th:object="${empleado}" method="post" class="formulario-direccion grid-form">

			            <div class="form-group">
			                <label>Nombre:</label>
			                <input type="text" th:field="*{nombre}" required />
			            </div>

			            <div class="form-group">
			                <label>Apellido:</label>
			                <input type="text" th:field="*{apellido}" required />
			            </div>

			            <div class="form-group">
			                <label>DNI:</label>
			                <input type="text" th:field="*{dni}" required />
			            </div>

			            <div class="form-group">
			                <label>Email:</label>
			                <input type="email" th:field="*{email}" required />
			            </div>

			            <div class="form-group">
			                <label>Contraseña:</label>
			                <input type="password" value="********" disabled />
			            </div>

			            <div class="form-group">
			                <label>Legajo:</label>
			                <input type="text" th:field="*{legajo}" required />
			            </div>

			            <div class="form-group full-width">
			                <label>Servicio:</label>
			                <select name="servicioId">
			                    <option value="" th:selected="${empleado.servicio == null}">-- Seleccionar Servicio --</option>
			                    <option th:each="servicio : ${servicios}" 
			                            th:value="${servicio.idServicio}" 
			                            th:text="${servicio.nombre}" 
			                            th:selected="${empleado.servicio != null and servicio.idServicio == empleado.servicio.idServicio}">
			                        Servicio
			                    </option>
			                </select>
			            </div>

			            <div class="form-group full-width">
			                <button type="submit" class="btn-primary">Actualizar</button>
			            </div>
			        </form>
			    </div>
			</main>

	 </div>
	</body>
</html>
