<!DOCTYPE html>
<html lang="es">
<head>
	<head>
	    <meta charset="UTF-8">
	    <title>Bienvenido a TurnAT</title>
	    <link rel="stylesheet" href="../css/styles.css"> 
</head>
<body class="body-login">
    <div class="welcome-card">
        <h2>Bienvenido a <strong>TurnAT</strong></h2>
        <p>¿Qué deseas hacer?</p>
        <button onclick="location.href='/login'" class="btn-login">Iniciar sesión</button>
		<button onclick="location.href='/cliente/registro-cliente'" class="btn-login">Soy un cliente nuevo</button>
    </div>
</body>
</html>
