<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mis datos</title>
    <link rel="stylesheet" href="../css/styles.css">


</head>
<body id="cuerpo">
    <nav>
        <a>TurnAt</a>
        <button onclick="window.location.href='login.html'">Cerrar sesión</button>
    </nav>
    <div id="contenedor">
		<aside>
			
		        <a href="clienteDatos">Mis Datos</a>				
		        <a href="clienteTurnos">Mis Turnos</a>
		        <a href="clienteNturno">Nuevo turno</a>
			
	 	</aside>
	</div>
    