<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Administrador</title>
    <link rel="stylesheet" href="../css/styles.css">


</head>
<body id="cuerpo">
    <nav>
        <a>TurnAt</a>
        <button onclick="window.location.href='login.html'">Cerrar sesión</button>
    </nav>
    <div id="contenedor">
    	<aside>
	        <a href="/admin/servicio/listado">Servicios</a>
	        <a href="sucursalAdmin">Sucursales</a>
	        <a href="/admin/empleado/listado">Empleados</a>
	        <a href="clienteAdmin">Clientes</a>
	        <a href="turnoAdmin">Turnos</a>
		</aside>
	</div>
    

 </body>