<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro Cliente</title>
    
	<link rel="stylesheet" href="../css/styles.css">


</head>
<body class="body-login">
    <form th:action="@{/cliente/registro-cliente}" th:object="${cliente}" method="post" class="login-card">
        <h2 class="text-c">Registro de Cliente</h2>

        <input type="text" class="form-control" th:field="*{nombre}" placeholder="Nombre" required>

        <input type="text" class="form-control" th:field="*{apellido}" placeholder="Apellido" required>

        <input type="text" class="form-control" th:value="*{dni == 0} ? '' : *{dni}" name="dni" placeholder="DNI" required>

        <input type="email" class="form-control" th:field="*{email}" placeholder="Email" required>

        <input type="password" class="form-control" th:field="*{password}" placeholder="Contraseña" required>

        <input type="text" class="form-control" th:field="*{telefono}" placeholder="Teléfono">

        <div th:if="${error}" class="error-message" th:text="${error}"></div>

        <button type="submit" class="btn-login">Registrarse</button>
		<button onclick="location.href='/login'" class="btn-login" style="margin-top: 15px;">Ya tengo una cuenta</button>
		
    </form>
</body>
</html>
