<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Servicios</title>
</head>
<body>
    <div th:replace="~{layouts/layout-admin :: layout}">
        <div th:fragment="content">
            <main>
                <h1 class="titulo-seccion">Listado de Servicios</h1>

                <a th:href="@{/admin/servicio/registro}" class="btn-nuevo">+ Agregar Nuevo Servicio</a>

                <table class="tabla-empleados">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Duración</th>
                            <th>Disponibilidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="servicio : ${servicios}">
                            <td th:text="${servicio.idServicio}">1</td>
                            <td th:text="${servicio.nombre}">Nombre</td>
                            <td th:text="${servicio.descripcion}">Descripción</td>
                            <td th:text="${servicio.duracion}">30</td>
                            <td>
                                <span th:text="${servicio.disponibilidad.horaInicio}">08:00</span> - 
                                <span th:text="${servicio.disponibilidad.horaFin}">14:00</span><br/>
                                <span th:if="${servicio.disponibilidad.lunes}">Lunes </span>
                                <span th:if="${servicio.disponibilidad.martes}">Martes </span>
                                <span th:if="${servicio.disponibilidad.miercoles}">Miércoles </span>
                                <span th:if="${servicio.disponibilidad.jueves}">Jueves </span>
                                <span th:if="${servicio.disponibilidad.viernes}">Viernes </span>
                                <span th:if="${servicio.disponibilidad.sabado}">Sábado </span>
                                <span th:if="${servicio.disponibilidad.domingo}">Domingo</span>
                            </td>
                            <td>
                                <a th:href="@{|/admin/servicio/editar/${servicio.idServicio}|}" class="accion">Editar</a> |
                                <a th:href="@{|/admin/servicio/eliminar/${servicio.idServicio}|}" class="accion" onclick="return confirm('¿Seguro que quieres eliminar?');">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </main>
        </div>
    </div>
</body>
</html>

