<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Registrar Servicio</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
    <h1>Registrar Nuevo Servicio</h1>
    <form th:action="@{/admin/servicio/registro}" th:object="${servicio}" method="post">
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" required /><br/>

        <label>Descripción:</label>
        <input type="text" th:field="*{descripcion}" required/><br/>

        <label>Duración (HH:mm:ss):</label>
        <input type="time" step="1" th:field="*{duracion}" required/><br/>

        <h3>Disponibilidad</h3>
        <label>Hora de Inicio:</label>
        <input type="time" th:field="*{disponibilidad.horaInicio}" required/><br/>

        <label>Hora de Fin:</label>
        <input type="time" th:field="*{disponibilidad.horaFin}" required/><br/>

        <label>Lunes:</label>
        <input type="checkbox" th:field="*{disponibilidad.lunes}"/><br/>
        <label>Martes:</label>
        <input type="checkbox" th:field="*{disponibilidad.martes}"/><br/>
        <label>Miércoles:</label>
        <input type="checkbox" th:field="*{disponibilidad.miercoles}"/><br/>
        <label>Jueves:</label>
        <input type="checkbox" th:field="*{disponibilidad.jueves}"/><br/>
        <label>Viernes:</label>
        <input type="checkbox" th:field="*{disponibilidad.viernes}"/><br/>
        <label>Sábado:</label>
        <input type="checkbox" th:field="*{disponibilidad.sabado}"/><br/>
        <label>Domingo:</label>
        <input type="checkbox" th:field="*{disponibilidad.domingo}"/><br/>

        <button type="submit">Guardar</button>
    </form>

    <a th:href="@{/admin/servicio/listado}">Volver al listado</a>
</body>
</html>
