<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Turnos</title>
	</head>
	<body>
		<div th:replace="~{layouts/layout-admin :: layout}">
		    <div th:fragment="content">
		        <main>
		            <!-- Encabezado -->
		            <div class="form-header">
		                <h1 class="titulo-seccion">Listado de Turnos</h1>
		            </div>
		
		            <!-- Tabla -->
		            <table class="tabla-empleados">
		                <thead>
		                    <tr>
		                        <th>ID</th>
		                        <th>Cliente</th>
		                        <th>Servicio</th>
								<th>Sucursal</th>								
		                        <th>Fecha</th>
		                        <th>Hora</th>
								<th>Estado</th>
								<th>Acciones</th>
		                    </tr>
		                </thead>
		                <tbody id="tabla-turnos">
		                    <!-- Se completa por JS -->
		                </tbody>
		            </table>
		        </main>
		    </div>
		</div>
		
		<script>
		document.addEventListener("DOMContentLoaded", function () {
		    fetch("http://localhost:8080/api/admin/turnos")
		        .then(response => {
		            if (!response.ok) {
		                throw new Error("Error al cargar las sucursales");
		            }
		            return response.json();
		        })
		        .then(data => {
		            const tbody = document.getElementById("tabla-turnos");
		
		            if (data.length === 0) {
		                tbody.innerHTML = `<tr><td colspan="6">No hay turnos solicitados.</td></tr>`;
		                return;
		            }
		
		            data.forEach(turno => {
		                const row = document.createElement("tr");
		
		                row.innerHTML = `
		                    <td>${turno.idTurno}</td>
		                    <td>${turno.clienteNombre}</td>
		                    <td>${turno.servicio}</td>		
							<td>${turno.sucursalNombre}</td>														
							<td>${turno.dia}/${turno.mes}/${turno.anio}</td>							
							<td>${turno.hora}</td>
		                    <td>${turno.estado}</td>
		                    <td>
		                        <a href="/api/admin/turnos/editar/${turno.idTurno}" class="accion">Editar</a> |
		                        <a href="/api/admin/turnos/eliminar/${turno.idTurno}" class="accion" onclick="return confirm('¿Seguro que querés eliminar este turno?')">Eliminar</a>
		                    </td>
		                `;
		
		                tbody.appendChild(row);
		            });
		        })
		        .catch(error => {
		            console.error("Error al carga los turnos:", error);
		            const tbody = document.getElementById("tabla-sucursales");
		            tbody.innerHTML = `<tr><td colspan="6">Error al cargar los turnos.</td></tr>`;
		        });
		});
		</script>
	</body>
</html>











